*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body{
    background-color: #FD5330;
    
}

nav{
    font-size: 1.75em;
    color: #ffffff;
    text-align: center;
    margin: 50px 0;
    font-weight: 600;
}
.sixty9{
    display: flex;
    justify-content: center;
    column-gap: 4em;
    
}
.container{
    position: relative;
}
#tex{
    position: absolute;
    top: 85px;
    left: 250px;
    font-size: 32px;
}

.since{
    text-align: center;
    margin-top: 50px;
    font-size: 2em;
    font-weight: 800;
}

@media only screen and (max-width: 750px)
{
   img{
       height: 250px;       
   }
   #tex{
       top: 70px;
       left: 220px;
   }
   .p{
       height: 250px;
   }
    .sixty9{
        column-gap: 15px;
    }
}

@media only screen and (max-width: 600px)
{
    nav{
        font-size: 30px;
        color: #ffffff;
        text-align: center;
        margin: 20px 0;
        font-weight: 600;
    }

   img{
       width: 300px;       
   }
   #tex{
       top: 80px;
       left: 170px;
       font-size: 28px;
   }
   .p{
       width: 300px;
   }
    .sixty9{
        
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
    }

    .since{
        text-align: center;
        margin-top: 25px;
        font-size: 25px;
        font-weight: 800;
    }
}

